header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  background-color: var(--oscuro);
  font-family: "Lato", sans-serif;

  padding: 2rem;

  // Logo
  figure {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    img {
      height: 6rem;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
        font-size: 1.86rem;
        color: var(--claro);
      }
    }
  }

  div:nth-child(3) {
    width: 2px;
    height: 6rem;
    background-color: var(--claro);
    margin-left: 2rem;
  }

  // Navegador
  nav {
    display: flex;
    align-items: center;
    justify-content: center;

    .close {
      top: -100vh;
    }

    .open {
      top: 0;
    }

    ul {
      position: absolute;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      height: 100vh;
      width: 100vw;
      background-color: var(--oscuro);
      padding: 20% 0;
      z-index: 10;

      li a {
        color: var(--claro);
      }

      li a:hover {
        color: var(--naranja);
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      font-size: 3.2rem;
      margin: 0;
      padding: 0;
      z-index: 11;
    }

    button:active {
      box-shadow: none;

      ion-icon {
        color: var(--naranja);
      }
    }
  }
}

@media (min-width: 800px) {
  header nav {
    align-self: center;

    .close {
      position: initial;
      flex-direction: row;

      height: auto;
      width: auto;
      padding: 0 2rem;

      li {
        margin: 0 1rem;
      }
    }

    button {
      display: none;
    }
  }
}
