.main_game {
  display: flex;
  align-items: start;
  justify-content: space-between;

  width: 100%;
  padding-top: 4rem;

  .game {
    min-width: 20rem;
    min-height: 20rem;
    width: 100%;
    height: 100%;
    max-width: 65rem;
    max-height: 65rem;
    background-color: var(--fondo);
    border: 1px solid var(--tableroOscuro);
    margin: 0;
  }

  .players {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 100%;
    width: 100%;
    margin: 0;
    margin-left: 4rem;

    .player {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;
      padding: 1rem;
      margin: 0;

      .parts_container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;

        min-width: 20rem;
        width: 70%;
        height: 100%;
        box-shadow: none;

        padding: 2rem;
        margin: 0;

        h2 {
          font-size: 1.8rem;
          font-family: "Lato", sans-serif;
        }

        .parts {
          display: grid;
          grid-template-columns: repeat(8, 1fr);
          grid-template-rows: repeat(2, auto);
          gap: 1rem;

          width: 100%;
          height: 100%;
        }
      }

      .separator {
        width: 2px;
        min-height: 10rem;
        height: 80%;
        background-color: var(--tableroOscuro);
        margin: 0 1rem;
      }

      .img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
        gap: 1rem;
        margin: 1rem;
      }
    }
  }
}
