@import "./vars.scss";

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Lato", sans-serif;
  height: 100%;
  min-height: auto;
  font-size: 62.5%;
}

body {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--oscuro);
  border-radius: 5px;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 130rem;

  padding: 10rem 2rem 0rem 2rem;
  margin: auto;
}

@media (min-width: 800px) {
  .App {
    padding: 7rem 4rem 2rem 4rem;
  }
}
